spring:
  application:
    name: oil_spill
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}

  datasource:
    url: ${JDBC_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true